@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    margin: 20px 0;
}

header {
    padding: 20px;
    margin-bottom: 15px;
}

header .logo {
    font-weight: 700;
}

header .logo a {
    color: #000;
}

header .logo img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

header .logo span {
    color: green;
}

header .login-btns {
    display: flex;
    width: 100%;
}

header .login-btns a:first-child {
    margin-left: auto;
    margin-right: 15px;
}

.login-form input {
    width: 100%;
    outline: none;
    height: 40px;
    border: 1px solid #cacaca;
    margin-bottom: 8px;
    padding: 13px;
    border-radius: 3px;
}

.login-form input:focus,
.login-form input:active {
    border: 1px solid #cacaca;
}

.login-form form {
    margin: 20px 0;
}

.banner {
    width: 100%;
    padding: 30px;
    background: #f1f9ff;
    border-radius: 5px;
    min-height: 150px;
    margin-bottom: 15px;
}

.banner .caption {
    font-weight: 700;
    margin-bottom: 8px;
}

.photos img {
    max-width: 250px;
    height: auto;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 5px;
}